# To alter default run settings, copy this file to the run directory and edit the settings
#i# $K sets the kmer length to use (default K=31)
K=31
#i# Compleasm lineage
LINEAGE=embryophyta
#i# $BEST sets the strategy for identifying homeologues: kmer/compleasm/<FILE>
#i# NOTE: this will be overridden if $GENBASE.best.txt is found.
BEST=compleasm
#i# Number of Best Homeologues
BESTN=1
#i# Number of threads
THREADS=$(nproc)
#i# Debug mode (may not do anything)
DEBUG=FALSE
#i# Dev mode (may not do anything)
DEV=FALSE